/* circle text styling */
.circle-text {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: rotate(-80deg);
  background: lightblue; /* just for visibility */

  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(-80deg);
  }
  50% {
    transform: scale 1.9;
  }
  100% {
    transform: rotate(280deg); /* -80 + 360 = full circle */
  }
}

.circle-text span {
  position: absolute;
  left: 50%;
  top: 50%;

  transform-origin: 0 200px; /* distance from center */
  transform: rotate(calc(var(--i) * 8.8deg));
}
