@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --lettercount: 1;
  --degreespacing: calc(360deg / var(--lettercount));
  --radius: 100px;
  --fontsize: 20px;
  --circletextmargin: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  /* crazy filters to apply */
  /* filter: invert(100%); */
  /* filter: grayscale(50%); */
  filter: contrast(110%);
  /* filter: blur(3px); */
  filter: saturate(110%);
}

.sitecontainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 200vh;
  border: 3px solid black;
}
.sitecontainer .headingsinfo {
  background-color: white;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sitecontainer .headingsinfo h3 {
  color: rgb(57, 57, 225);
}

/*  new idea*/
.circle-text {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: var(--circletextmargin);
  background-color: #eee;
  position: relative; /* important: makes child positioning relative */
}
.circle-text span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fontsize);
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform-origin: 0 var(--radius); /* radius */
  transform: rotate(calc(var(--i) * var(--degreespacing)));
  animation: spin 5s ease infinite, colorswitch 5s ease infinite;
  z-index: 2; /* put letters above image */
}

@keyframes backgroundcolorblock {
  0%, 49.99% {
    background-color: #2b1b1b;
  }
  50%, 100% {
    background-color: #0020d5;
  }
}
.circle-text2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle-text2 span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 var(--radius); /* radius */
  transform: rotate(calc(var(--i) * var(--degreespacing)));
  animation: spin 5s ease infinite, colorswitch 5s ease infinite;
}

.imagediv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center perfectly */
  z-index: 1; /* put letters above image */
}
.imagediv #image {
  width: 230px;
  height: auto;
  border-radius: 50%;
  margin: 0;
  animation: pulse 5s linear infinite;
}

#homelink-circletext {
  text-decoration: none;
  font-weight: bold;
  width: 90px;
  height: 50px;
  margin-top: calc(150px + var(--radius) * 1.6);
}
#homelink-circletext #returnhome {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #2552ce;
  color: white;
}
#homelink-circletext #returnhome:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
}

.sitecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  border: 3px solid black;
}
.sitecontainer .topnav {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: space-between;
  background-color: #91b1d7;
}
.sitecontainer .topnav a {
  text-decoration: none;
}
.sitecontainer .topnav a:link, .sitecontainer .topnav a:visited, .sitecontainer .topnav a:hover, .sitecontainer .topnav a:active {
  color: inherit;
  text-decoration: none;
}
.sitecontainer .topnav a h1 #circle {
  border: 2px solid navy;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block; /* makes span respect width/height */
  margin-left: 10px;
  margin-top: 8px;
}
.sitecontainer .topnav .navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sitecontainer .topnav .navlinks p:hover {
  color: #fff;
  text-decoration: underline;
}
.sitecontainer .generatediv {
  font-size: 30px;
  height: 500px;
  width: 500px;
  color: #2552ce;
  border: 4px solid red;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

:root {
  --returnhometop: 180px;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
}

.formcontainer {
  width: 90%;
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 5px solid rgb(208, 30, 30);
}
.formcontainer form {
  width: 50%;
}
.formcontainer form .description {
  margin: 10px 0;
  font-style: italic;
  font-family: Helvetica, sans-serif;
}
.formcontainer .sideoptions {
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  padding-top: 60px;
  border: 4px solid navy;
  border-radius: 26px;
}

#homelink-specsform {
  text-decoration: none;
  font-weight: bold;
  width: 90px;
  height: 50px;
  margin-top: var(--returnhometop);
}
#homelink-specsform #returnhome {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #2552ce;
  color: white;
}
#homelink-specsform #returnhome:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes spin {
  0%, 10% {
    transform: rotate(calc(var(--i) * var(--degreespacing)));
  }
  50%, 60% {
    transform: rotate(calc(var(--i) * var(--degreespacing) + 180deg)) scale(1.8);
  }
  100% {
    transform: rotate(calc(var(--i) * var(--degreespacing) + 360deg));
  }
}
@keyframes colorswitch {
  0%, 49.99% {
    color: #0020d5;
  }
  50%, 100% {
    color: #2b1b1b;
  }
}
@keyframes fancySpin {
  0% {
    transform: rotate(0deg);
    filter: grayscale(0%) contrast(100%) blur(0px);
  }
  20% {
    transform: rotate(72deg);
    filter: grayscale(50%) contrast(150%) blur(1px);
  }
  40% {
    transform: rotate(144deg);
    filter: grayscale(100%) contrast(200%) blur(2px);
  }
  60% {
    transform: rotate(216deg);
    filter: grayscale(30%) contrast(250%) blur(1px);
  }
  80% {
    transform: rotate(288deg);
    filter: grayscale(70%) contrast(300%) blur(3px);
  }
  100% {
    transform: rotate(360deg);
    filter: grayscale(0%) contrast(100%) blur(0px);
  }
}
@keyframes pulse {
  0%, 10% {
    transform: scale(1);
    filter: contrast(100%);
    fill: rgb(186, 83, 19);
  }
  10%, 49% {
    fill: rgb(12, 32, 82);
  }
  50%, 60% {
    transform: scale(1.5);
    fill: rgb(17, 71, 30);
  }
  100% {
    transform: scale(1);
    filter: contrast(100%);
    fill: rgb(104, 211, 129);
  }
}/*# sourceMappingURL=main.css.map */