$default-colorone: #0020d5;
$default-colortwo: #2b1b1b;
$default-radius: 100px;
$default-fontsize: 20px;
$default-animationduration: 5s;

:root {
  // JavaScript in circletext.html will update this.
  // I also want to make it dynamic.

  --lettercount: 1;
  --degreespacing: calc(360deg / var(--lettercount));
  --circletextmargin: 300px;

  --colorone: #{$default-colorone};
  --colortwo: #{$default-colortwo};
  --radius: #{$default-radius};
  --fontsize: #{$default-fontsize};
  --animationduration: #{$default-animationduration};
}

// for UT One
