<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="sitecontainer">
      <div class="topnav">
        <a href="{{url_for('index')}}"
          ><h1>
            Circle Text Studio
            <div id="circle"></div></h1
        ></a>

        <nav class="navlinks">
          <p>About</p>
          <p>Examples</p>
        </nav>
      </div>
      <!-- Heres the output text-->
      <div class="circle-text" id="outputdiv1">
        {{ spans | safe}}
        <!-- this means there will be no error and just no image -->
        <div class="imagediv">
          <img src="{{imageurl}}" alt="i" id="image" />
        </div>
      </div>
      <div class="infodiv">
        <h3>Specifications</h3>
        <ul>
          <p>Color One: {{ colorone }}</p>
          <p>Color two: {{ colortwo }}</p>
          <p>Radius : {{radius}}</p>
          <p>Animation Duration : {{animationduration}}</p>
        </ul>
      </div>
      <a href="{{url_for('index')}}" id="homelink-circletext"
        ><button id="returnhome">Return Home</button></a
      >
    </div>

    <script>
      //   --degreespacing: calc(360deg / var(--lettercount));

      const semicircle = "{{ 'true' if semicircle else 'false' }}" === "true";

      document.addEventListener("DOMContentLoaded", () => {
        const el = document.getElementById("outputdiv1");
        if (el) {
          console.log("Output div present");
          // python generator is one span per character
          const letters = el.querySelectorAll("span").length;

          let lettercount = semicircle ? letters / 2 : letters;

          if (!semicircle) {
            el.style.setProperty("--lettercount", letters);
          } else {
            el.style.setProperty("--lettercount", letters / 2);
          }

          //
          const degreespacing = `${(360 / lettercount).toFixed(2)}deg`;
          document.documentElement.style.setProperty(
            "--degreespacing",
            degreespacing
          );
        }

        // after form submission
        document.documentElement.style.setProperty(
          "--colorone",
          "{{ colorone }}"
        );
        document.documentElement.style.setProperty(
          "--colortwo",
          "{{ colortwo }}"
        );
        document.documentElement.style.setProperty(
          "--animationduration",
          "{{ animationduration }}"
        );
        console.log(
          getComputedStyle(document.documentElement).getPropertyValue(
            "--colorone"
          )
        );
      });
    </script>
  </body>
</html>
