<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/main.css')}}"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="sitecontainer">
      <div class="topnav">
        <a href="{{url_for('index')}}"
          ><h1>
            Circle Text Studio
            <div id="circle"></div></h1
        ></a>
        <nav class="navlinks">
          <p>About</p>
          <p>Examples</p>
        </nav>
      </div>
      <div class="formcontainer">
        <!-- action means it goes to that url -->
        <form
          action="/circletextoutput"
          method="post"
          class="specsform"
          id="circletextform"
        >
          <div class="group" id="wordgroup">
            <p>Enter the word that will be Circle Text</p>
            <input
              type="text"
              name="maintext"
              placeholder="Enter some text"
              value="Example text"
            />
          </div>
          <div class="group" id="numbersgroup">
            <p>Enter repeats for the text</p>
            <input
              type="number"
              placeholder="Repeats for the text"
              name="repeats"
              value="1"
            />
            <p>Enter the Radius of the circle (px)</p>
            <input
              type="number"
              placeholder="width of the circle text circle"
              name="radius"
              value="150"
            />
            <p>Make it a semicircle?</p>
            <input type="checkbox" name="semicircle" />
          </div>

          <p>Enter color block color one</p>
          <input type="color" name="colorone" value="#045393" />

          <p>Enter colorblock color two</p>
          <input type="color" name="colortwo" value="#fbd08b" />

          <p>Enable background colorblock?</p>
          <input type="checkbox" name="backgroundcolorblock" />

          <p>Enter speed of change (seconds)</p>
          <input type="number" name="animationduration" value="5" />

          <p class="description">
            With the specified colors, the circle text alternates between making
            one the color of the text and one the background. You can change the
            speed of the alternation with speed input above
          </p>

          <p>Submit Form</p>
          <input type="submit" value="Submit Form" />
          <input type="hidden" name="source" value="circletextform" />
        </form>
        <div class="sideoptions">
          <h2>Side Options Div</h2>
        </div>
      </div>
      <a href="{{url_for('index')}}" id="homelink-specsform"
        ><button id="returnhome">Return Home</button></a
      >
    </div>
  </body>
</html>
